#admincontainer {
    display: grid;
    grid-template-rows: 15vh 80vh; 
    grid-template-columns: 30vw 60vw;
    grid-template-areas: 
        "adminLogo  adminbuttons"
        "nonadminusers adminprojects";
}

#adminlogo {
    grid-area: adminLogo;
    border: 1px solid black;
}

#adminbuttons{
    grid-area: adminbuttons;
    border: 1px solid black;
}

#nonadminusers {
    grid-area: nonadminusers;
    border: 1px solid black;
}

#adminprojects {
    grid-area: adminprojects;
    border: 1px solid black;
}

#admincard{
    display: flex;
    align-items: center;
    width: 60vw;
    height: 8vh;
    column-gap: 15vh;
    border: 1px solid black;
}

#nonadminlist{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100%;
}

#nonadmincard{
    border: 1px solid pink;
}

#hammerbuttons{
    display: flex;
    height: 4vh;
    width: 10vh;
}

@media only screen and (min-width: 1200px) {
    .headerContainer {
      clip-path: polygon(0 0, 100% 0, 82% 100%, 0 100%);
      padding: 0px 150px 0px 20px;
    }
    .gif{
      position: inherit;
      margin-top: 20px;
      grid-area: addOns;
    }
}


