#admin{
    width: 80vh;
    height: 92vh; 
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

#admincard{
    display: flex;
    align-items: center;
    width: 80vh;
    height: 8vh;
    column-gap: 15vh;
    border: 2px solid black;
}

#nonadminlist{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 100%;
}

#nonadmincard{
    border: 1px solid pink;
}


#mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}