#homeuserlist, #wordcloud, #projectlist, #projectcard{
    border: 1px solid black;
}

#homecontainer {
    display: grid;
    grid-template-rows: 15vh 80vh; 
    grid-template-columns: 30vw 40vw 24vw;
    grid-template-areas: 
        "homeLogo homesearchbar homebuttons"
        "homeusers projects homewordcloud";
    column-gap: 2vw;
}

#homebuttons {
    grid-area: homebuttons;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#homebuttonz {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(2, 5vh); 
    grid-template-columns: repeat(3, 7vw);
    gap: 0;
    height: 20%;
}

#homebuttonz > button {
    width: 7vw;
    height: 5vh;
}

#homebuttonz > img {
    width: 7vw;
    height: auto;
}

#homesearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: homesearchbar;   
}

#homelogo{
    grid-area: homeLogo;
}

#userlist, #projectlist, #darkmode, #wordcloud, #wordcloudcard, #projectcard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeuserlist{
    grid-area: homeusers;
    border: 1px solid black;
}

#wordcloud{
    grid-area: homewordcloud;   
}

#projects{
    grid-area: projects;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
}

#homeprojectcard{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid black;
}

#homeprojectcard > div {
    margin-left: 200px;
    display: grid;  
    justify-content: center;  
    align-items: center;  
    width: 100%;  
    height: 100%;   
}

#homeprojectcard > img {
    position: absolute;
    width: 6%;
    height: 10%;
}

body {
    padding: 0;
    margin: 0;
}

#app{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    /* background-image: url('https://cdn.pixabay.com/photo/2023/11/12/16/48/pirate-8383445_1280.jpg');
    min-height: 100vh; 
    background-size: cover; */
}

#loginbtn{
    width: 7vw;
    height: 4vh;
}

#usercard{
    width: 30vw;
    height: 8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

#logo{
    width: 16vh;
    height: 9vh;
}

#searchbar{
    width: 30vh;
    height: 5vh; 
}

#searchResults{
    position: absolute;
    background-color: gray;
    width: 31vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#wordcloudcard{
    width: 19vh;
    height: 9vh;
}

img {
    width: 2vw;
    height: auto;
}


#globalchild {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;     
}

#globalchild > img {
    height: 5vh;
    width: auto;
}

#globallogo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 16vh;
    height: 9vh;
}

