#userlist, #wordcloud, #projectlist, #projectcard, #usercard{
    border: 1px solid black;
}

#homecontainer {
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: repeat(3, 85vh); 
    grid-template-areas: 
        "UsersAndLogo"
        "projectsAndSearchbar"
        "wordcloudAndbuttons";
    row-gap: 2vw;
    width: 100vw;
    height: 100vh;
}

#lefthome{
    grid-area: UsersAndLogo;
    width: 30vw;
}
#middlehome{
    grid-area: projectsAndSearchbar;
    width: 40vw;
}
#righthome{
    grid-area: wordcloudAndbuttons;
    width: 24vw;
}

#userlist, #projectlist, #darkmode, #wordcloud, #wordcloudcard, #projectcard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userlist{
    width: 25vh;
    height: 84vh; 
}

body {
    padding: 0;
    margin: 0;
}

#app{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    /* background-image: url('https://cdn.pixabay.com/photo/2023/11/12/16/48/pirate-8383445_1280.jpg');
    min-height: 100vh; 
    background-size: cover; */
}

#mutebtn{
    width: 10vh;
    height: 5vh;
}

#usercard{
    width: 24vh;
    height: 8vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

#logo{
    width: 16vh;
    height: 9vh;
}

#searchbar{
    width: 30vh;
    height: 5vh; 
}

#loginbtn{
    width: 10vh;
    height: 5vh; 
}

#adminbutton{
    width: 10vh;
    height: 5vh;
}

#darkmode{
    width: 7vh;
    height: auto;
}

#projectlist{
    width: 70vh;
    height: 84vh;
}

#projectcard{
    width: 67vh;
    height: 10vh;
    display: flex; 
    column-gap: 15vh;
}

#wordcloud{
    width: 20vh;
    height: 84vh;
}

#wordcloudcard{
    width: 19vh;
    height: 9vh;
}

img{
    width: 10vh;
    height: auto;
}

#uploadbtn{
    width: 10vh;
    height: 5vh;
}

#myprofilebtn{
    width: 10vh;
    height: 5vh;
}

