#userlist, #wordcloud, #projectlist, #projectcard, #usercard{
    border: 1px solid black;
}

#homecontainer {
    display: grid;
    grid-template-rows: 15vh 80vh; 
    grid-template-columns: 30vw 40vw 24vw;
    grid-template-areas: 
        "Logo homesearchbar homebuttons"
        "users projects wordcloud";
}

#homebuttons {
    grid-area: homebuttons;   
    display: flex;
    justify-content: center;
    align-items: center;
}

#homebuttonz {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(2, 5vh); 
    grid-template-columns: repeat(3, 7vw);
    gap: 0;
}

#homebuttonz > button {
    width: 7vw;
    height: 5vh;
}

#homesearchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: homesearchbar;   
}

#homelogo{
    grid-area: Logo;
}

#userlist, #projectlist, #darkmode, #wordcloud, #wordcloudcard, #projectcard{
    display: flex;
    justify-content: center;
    align-items: center;
}

#userlist{
    width: 30vw;
    height: 80vh; 
}

#wordcloud{
    width: 24vw;
    height: 80vh;
}

#projectlist{
    width: 40vw;
    height: 80vh;
}

body {
    padding: 0;
    margin: 0;
}

#app{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    /* background-image: url('https://cdn.pixabay.com/photo/2023/11/12/16/48/pirate-8383445_1280.jpg');
    min-height: 100vh; 
    background-size: cover; */
}

#mutebtn{
    width: 10vh;
    height: 5vh;
}

#usercard{
    width: 30vw;
    height: 8vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

#logo{
    width: 16vh;
    height: 9vh;
}

#searchbar{
    width: 30vh;
    height: 5vh; 
}

#loginbtn{
    width: 10vh;
    height: 5vh; 
}


#projectcard{
    width: 40vw;
    height: 10vh;
    display: flex; 
    column-gap: 15vh;
}

#wordcloudcard{
    width: 19vh;
    height: 9vh;
}

img{
    width: 8vw;
    height: auto;
}


