#mainDiv {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

#mainDiv > div {
    border: solid red 1px;
}
#buttons {
    align-self:flex-start;
}

#loginscreen {
    align-self:center;
}

#footer {
    align-self:flex-end;
}
