#allDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#allDiv>div {
    border: solid red 1px;
}

#logobtn {
    grid-area: 1 / 1 / 2 / 2;
}

#buttons {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#loginscreen {
    grid-area: 3 / 3 / 4 / 4;
}

#footer {
    grid-area: 5 / 3 / 6 / 4;
}