#projectparent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

#projectinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: 2 / 2 / 1 / 4;
    align-content: space-between;
}

#projectdltbtn{
    display:flex;
    justify-content: end;
    align-items: flex-start;
}

#deleteproject{
    background: gray;
    transition: .3s ease-in-out;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

#deleteproject:hover{
    background: red;
}

#projectusername{
    grid-area: 1/1;
    font-size: 15px;
}

#projectname{
    grid-area: 1/2;
    font-size: 50px;
    
}

#projectimg{

    grid-area: 2/2/2/1;
    border: solid green 3px;
}

#projectinfo>img {
    height: 100px;
    width: 205px;
}

#projectdescription{
    grid-area: 2/2/4/4;
    border: solid rgb(0, 0, 0) 1px;
    padding: 10px;
}

#project {
    display: flex;
    grid-area: 2 / 1 / 5 / 4;
    font-size: 20px;
    align-content: center;
    border-top: solid black 1px;
    background: lightgray;
    color: black;
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;

}

#comments {
    display: flex;
    grid-area: -4/4/5;
    border: dotted 5px rgb(24, 194, 24);
    flex-direction: column;
    overflow-y: auto;
    word-wrap: break-word;
    padding: 10px;
}

#commentinput {
    grid-area: -1/-2;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

#projectbuttons-container {
    grid-area: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


textarea#fileContentTextarea {
    width: 100%;
    height: 100%;
    resize: none;

}