#projectparent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

#projectinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-area: 2 / 2 / 1 / 4;
    border-bottom: 1px solid black;
    font-size: 40px;
    align-content: space-between;
}

#projectdltbtn{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

#deleteproject{
    background: gray;
    transition: .3s ease-in-out;
}

#deleteproject:hover{
    background: red;
}

#projectusername{
    grid-area: 1/1;
    font-size: 15px;
}

#projectname{
    grid-area: 1/2;
    
}

#projectimg{
    grid-area: 2/2/2/1;
    border: solid green 3px;
}

#projectinfo>img {
    height: 100px;
    width: 205px;
}

#projectdescription{
    grid-area: 2/2/4/4;
    border: solid gray 1px;
}

#project {
    display: flex;
    grid-area: 2 / 1 / 5 / 4;
    border: 1px solid red;
    font-size: 30px;
    align-content: center;

}

#comments {
    display: flex;
    grid-area: -4/4/-1/4;
    border: 1px solid blue;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

#commentinput {
    grid-area: -1/-2;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

#projectbuttons-container {
    grid-area: 3/-3/2/2
}