#uploadcontainer {
    display: grid;
    grid-template-columns: 15vh 80vh;
    grid-template-areas:
        "uploadbuttons"  "uploadinputs";
}

#uploadbuttons {
    grid-area: uploadbuttons;
    width: 100vw; 
    display: flex;
    justify-content: space-between; 
}

#uploadbuttons > button {
    width: 5vw;
    height: 4vh
}


#uploadinputs{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: uploadinputs;
    width: 100vw;
    min-height: 70vh;
}



#uploadinputz{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4vh;
}

